<%- include ('templates/header'); -%>

<div class='container'>
  <div class='jumbotron'>
    <h1> SEARCH RESULTS </h1>
      <button class='btn btn-info' onclick='location.href="/";'>Search Again</button>
    </div>

    <div class="flex-container">
      <div class="col-sm-3 cover">
        <img src=<%=data.cover.large %>>
      </div>
      <div class="col-sm-4 info">
        <p>Title: <%=data.title %> </p>
        <p>Author: <%=data.authors[0].name %> </p>
        <p>Publish: <%=data.publish_date %> </p>
        <p>Publisher: <%=data.publishers[0].name %> </p>
        <p>ISBN: <%=data %> </p>
        <p>Pages: <%=data.number_of_pages %> </p>
      </div>
    </div>
</div>

<%- include ('templates/footer'); -%>
